html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
	font: 14px/24px 'Cuprum', Arial, sans-serif;
	color: #000;
	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
	display: block;
	padding: 10px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #ee3643;
	border: none;
	border-radius: 2px;
	user-select: none;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.btn--opacity {
	background-color: rgba(0,0,0,0.1);
}

.btn--opacity:hover,
.btn--opacity:focus {
	background-color: rgba(0,0,0,0.2);
}

.btn--opacity:active {
	background-color: rgba(0,0,0,0.3);
}

.btn--promo {
	width: 135px;
	margin-left: 2px;
}

.btn--slider {
	position: absolute;
	bottom: 22px;
	left: 27px;
	width: 195px;
}

.btn--popular {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 253px;
}

.btn--services {
	width: 195px;
	margin-top: 28px;
}

.btn--aboutus {
	width: 220px;
}

.btn--wide {
	width: 100%;
}

.btn--notice {
	width: 220px;
}

.btn--white {
	color: #000;
	background-color: #fff;
}

.btn--white:hover,
.btn--white:focus {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px #bdc6ca;
}

.btn--white:active {
	background-color: #fff;
	outline: none;
	box-shadow: inset 0 0 0 1px #ee3643;
}

.btn-catalog {
	padding: 9px 10px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	user-select: none;
}

.btn-catalog:hover,
.btn-catalog:focus {
	border-color: #bdc6ca;
}

.btn-catalog:active {
	border-color: #ee3643;
	outline: none;
}

.btn-catalog--filter {
 width: 140px;
}

.flag {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	height: 60px;
}

.flag--catalog-item {
	top: -1px;
	right: -1px;
}

.flag--new {
	background-image: url(../img/product-new.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}


.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.container--services {
	padding-right: 0;
}

.site-header__top-menu .container,
.site-footer__lower-part .container {
	display: flex;
}

.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.modal-btn-wrap {
	background-color: #f1f1f1;
	display: flex;
	justify-content: space-between;
	padding: 37px 80px;
}

.site-header {
	margin-bottom: 59px;
	padding-bottom: 60px;
	background-color: #f3f7f8;
}

.site-header__top-menu a {
	color: #fff;
}

.site-header__top-menu {
	margin-bottom: 46px;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
}

.site-logo {
	display: block;
	width: 220px;
	padding: 13px 55px 10px;
	line-height: 0;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
	text-align: center;
}

.site-logo:hover,
.site-logo:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px #9a212a;
}

.site-logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px #8e1e26;
}

.search {
	position: relative;
	width: 270px;
}

.search__field {
	width: 100%;
	padding: 12px 10px 12px 48px;
	font: inherit;
	background-color: transparent;
	border: none;
}

.search__field::placeholder {
	font: inherit;
	color: #fff;
}

.search__field:hover {
	background-color: #212a3a;
}

.search__field:focus {
	color: #000;
	background-color: #fff;
}

.search__icon {
	position: absolute;
	top: 12px;
	left: 17px;
}

.search__field:hover + .search__icon path {
	fill: #fff;
}

.search__field:focus + .search__icon path {
	fill: #ee3643;
}

.bookmarks,
.shopping-cart {
	position: relative;
	width: 150px;

}

.bookmarks {
	padding: 12px 10px 12px 44px;
}

.shopping-cart {
	padding: 12px 10px 12px 50px;
}

.bookmarks::before,
.shopping-cart::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	width: 15px;
	height: 16px;
	opacity: 0.3;
}

.bookmarks::before {
	background-image: url(../img/icon-bookmark.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.shopping-cart::before {
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;;
}

.bookmarks:hover,
.bookmarks:focus,
.shopping-cart:hover,
.shopping-cart:focus {
	background-color: #212a3a;
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.shopping-cart:hover::before,
.shopping-cart:focus::before {
	opacity: 1;
}

.bookmarks:active,
.shopping-cart:active {
	color: rgba(255,255,255,0.6);
	background-color: #161d29;
}

.bookmarks:active::before,
.shopping-cart:active::before {
	opacity: 0.5;
}


.shopping-cart--fill {
	background-color: #ee3643;
}

.shopping-cart--fill:hover,
.shopping-cart--fill:focus {
	background-color: #ca2c37;
}

.shopping-cart--fill:active {
	background-color: #ba2732;
}

.place-order {
	width: 150px;
	padding: 12px 20px;
	background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
	background-color: #5fbb2d;
}

.place-order:active {
	color: rgba(255,255,255,0.5);
	background-color: #518534;
}

.site-header__middle-part {
	display: flex;
	justify-content: space-between;
	margin-bottom: 38px;
}

.site-header__title {
	width: 300px;
	margin: 0;
	padding-top: 3px;
	padding-left: 53px;
	padding-right: 50px;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #ee3643;
}

.site-header__contacts {
	width: 300px;
	margin: 0;
	padding: 0 10px;
	color: #32425c;
}

.phone {
	position: relative;
	display: block;
	width: 270px;
	margin-bottom: 5px;
	margin-left: -10px;
	padding: 9px 10px 8px 72px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #fff;
}

.phone::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 13px;
	width: 18px;
	height: 19px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.user-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-nav__item {
	display: flex;
	align-items: flex-start;
	margin-right: 10px;
}

.user-nav__item:nth-child(2n) {
	margin-right: 0;
}

.user-nav__link{
	padding: 12px 24px;
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}

.user-nav__link:hover,
.user-nav__link:focus {
	color: #ee3643;
}

.user-nav__link:active {
	color: rgba(0,0,0,0.3);
}

.user-nav__link--login {
	position: relative;
	padding-left: 50px;
}

.user-nav__link--login::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 15px;
	width: 20px;
	height: 17px;
	background-image: url(../img/icon-login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.user-nav__link--login:hover::before,
.user-nav__link--login:focus::before {
	opacity: 1;
}

.user-nav__link--login:active::before {
	opacity: 0.3;
}

.user-box {
	width: 300px;
}

.profile {
	display: flex;
	margin: 0;
	margin-bottom: 5px;
}

.profile__link {
	position: relative;
	display: block;
	padding: 12px;
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}

.profile__link--user {
	width: 255px;
	padding-left: 47px;
}
.profile__link--logout {
	width: 45px;
}


.profile__link--user::before,
.profile__link--logout::before {
	content: "";
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 18px;
	opacity: 0.3;
}

.profile__link--user::before {
	background-image: url(../img/icon-user.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.profile__link--logout::before {
	top: 14px;
	background-image: url(../img/icon-logout.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.profile__link--user:hover::before,
.profile__link--user:focus::before,
.profile__link--logout:hover::before,
.profile__link--logout:focus::before {
	opacity: 1;
}

.profile__link:active {
	color: rgba(0,0,0,0.3);
}

.profile__link--user:active::before,
.profile__link--logout:active::before {
	opacity: 0.3;
}

.user-menu {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	margin: 0;
	padding: 0;
	padding-left: 19px;
	list-style: none;
}

.user-menu__item {
	position: relative;
	margin-right: 32px;
}

.user-menu__item::after {
	content: "";
	position: absolute;
	top: 9px;
	right: -18px;
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
}

.user-menu__item:last-child::after {
	display: none;
}

.user-menu__link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-menu__link:hover,
.user-menu__link:focus {
	color: #ee3643;
}

.user-menu__link:active {
	color: rgba(0,0,0,0.3);
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list__item {
	flex-grow: 1;
}

.nav-list__link {
	display: block;
	width: 100%;
	font-size: 17px;
	line-height: 17px;
	text-align: center;
	color: #fff;
	background-color: #32425c;
	padding: 20px 20px 23px;
}

.nav-list__item:first-child .nav-list__link {
	padding-left: 41px;
}

.nav-list__item:last-child .nav-list__link {
	padding-right: 45px;
}

.nav-list__link:hover,
.nav-list__link:focus {
	background-color: #293449;
}

.nav-list__link:active {
	color: rgba(255,255,255,0.5);
	background-color: #293449
}

/*-----------------------------------------------------INDEX-----------------------------*/

.promo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 31px;
}

.promo__element {
	position: relative;
	width: 300px;
	margin-bottom: 20px;
	padding: 22px;
	padding-right: 140px;
	background-repeat: no-repeat;
}

.promo__element--materials {
	background-color: #ffbf47;
	background-image: url(../img/promo-materials.svg);
	background-position: 213px center;
}

.promo__element--tools {
	background-color: #3bbce3;
	background-image: url(../img/promo-tools.svg);
	background-position: 197px center;
}

.promo__element--technique {
	background-color: #dc91d8;
	background-image: url(../img/promo-technique.svg);
	background-position: 191px center;
}

.promo__element--sale {
	background-color: #8ed78f;
	background-image: url(../img/promo-sale.svg);
	background-position: 196px center;
}

.promo__element--delivery {
	background-color: #ffc047;
	background-image: url(../img/promo-delivery.svg);
	background-position: 191px center;
}

.promo-element__title {
	margin: 0;
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #fff;
}

.promo-columns {
	order: 1;
}

.slider {
	position: relative;
	display: block;
	width: 620px;
	height: 266px;
	color: #fff;
	background-color: #555;
}

.slides {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide {
	position: relative;
	display: none;
}

.slide-current {
	display: block;
}

.slide__text-block {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 23px 25px 20px;
}

.slide__title {
	margin: 0;
	margin-bottom: 2px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.slide__text {
	margin: 0;
	font-size: 18px;
	line-height: 24px;
}

.slide img {
	width: 620px;
	height: 266px;
}

.slider__arrow {
	position: absolute;
	top: 50%;
	width: 22px;
	height: 40px;
	padding: 0;
	font-size: 0;
	background-color: transparent;
	border:none;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.slider__arrow.disabled {
	opacity: 0.3;
}

.slider__arrow-prew {
	left: 23px;
	background-image: url(../img/slider-arrow-left.svg);
}

.slider__arrow-next {
	right: 21px;
	background-image: url(../img/slider-arrow-right.svg);
}

.slider__control {
	position: absolute;
	bottom: 33px;
	left: 294px;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider__control button {
	width: 10px;
	height: 10px;
	margin-right: 10px;
	padding: 0;
	font-size: 0;
	background-color: #fff;
	border: none;
	border-radius: 50%;
}

.slider__control button.active {
	background-color: #ee3643;
	border: 2px solid #fff;
}

.popular-products {
	position: relative;
}

.section__title {
	margin: 0;
	margin-bottom: 27px;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.section__title--popular {
	margin-bottom: 20px;
	padding: 30px;
	padding-right: 320px;
	background-color: #f9f5f0;
	color: #32425c;
}

.popular-products-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-products-list .catalog-item:nth-child(4n) {
	margin-right: 0;
}

.popular-brands {
	position: relative;
	margin-bottom: 65px;
}

.popular-brands-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-brands-list__item {
	display: flex;
	width: 220px;
	height: 145px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
	overflow: hidden;
}

.popular-brands-list__item:hover,
.popular-brands-list__item:focus {
	box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.popular-brands-list__item:active {
	opacity: 0.3;
}

.popular-brands-list .popular-brands-list__item:nth-child(4n) {
	margin-right: 0;
}

.popular-brands-list__link {
	margin: auto;
}

.services {
	margin-bottom: 78px;
	padding-top: 64px;
	background-color: #f5f8fa;
}

.section__text {
 	margin: 0;
 	margin-bottom: 24px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
 	line-height: 24px;
}

.section__text--last {
	margin-bottom: 20px;
	letter-spacing: 0.003em
}

.services .section__text {
	margin-bottom: 66px;
}

.services-tabs {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.tabs-control {
	position: relative;
	width: 240px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs-control::after {
	content: '';
	position: absolute;
	top: -43px;
	right: 0;
	width: 10px;
	height: 272px;
	background-image: url(../img/services-shadow.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.tabs-control__element {
	width: 100%;
	padding: 15px 23px;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-align: left;
	color: #fff;
	background-color: #32425c;
	border: none;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.tabs-control__element.current {
	padding-top: 16px;
	padding-bottom: 16px;
	color: #32425c;
	background-color: #fff;
	border: none;
}

.tabs-content {
	width: 630px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.tabs-content-block {
	display: none;
	padding-top: 5px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	min-height: 284px;
}

.tabs-content-block.current {
	display: block;
}

.tabs-content-block--delivery {
	background-image: url(../img/services-delivery.png);
	background-position-x: 150px;
}

.tabs-content-block--guarantee {
	background-image: url(../img/services-guarantee.png);
}

.tabs-content-block--credit {
	background-image: url(../img/services-credit.png);
}

.tabs-content-block__title {
	margin: 0;
	margin-bottom: 31px;
	font-size: 36px;
	line-height: 24px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}

.tabs-content-block__description {
	width: 380px;
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
 	line-height: 24px;
}

.tabs-content-block__description--delivery {
	padding-right: 105px;
}

.tabs-content-block__description--credit {
	padding-right: 100px;
}

.section-aboutus {
	width: 545px;
}

.transport-companies {
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	list-style: none;
}

.transport-companies__item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 36px;
}

.transport-companies__item:last-child {
	margin-bottom: 0;
}

.transport-companies__item::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.section-contacts {
	width: 300px;
}

.section__text--short {
	width: 200px;
	margin-bottom: 31px;
}

.map {
	display: block;
	margin-bottom: 33px;
}

.map img {
	width: 300px;
	height: 158px;
}

/*----------------------------------Каталог---------------------------------*/

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 20px 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	list-style: none;
}

.breadcrumbs__item {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs__link--tohome {
	padding-left: 14px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.breadcrumbs__item::after {
	content: "";
	position: absolute;
	top: 4px;
	right: -20px;
	width: 9px;
	height: 9px;
	border: 1px solid #d8dbe0 ;
	border-top: none;
	border-left: none;
	transform: rotate(-45deg);
}

.breadcrumbs__item:last-child::after {
	display: none;
}

.breadcrumbs__link {
	font: inherit;
	color: inherit;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
	text-decoration: underline;
}

.breadcrumbs__link--current:hover,
.breadcrumbs__link--current:focus,
.breadcrumbs__link--current:active {
	text-decoration: none;
}

.page-title {
	display: block;
	margin: 0;
	margin-bottom: 20px;
	padding: 30px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c ;
	background-color: #f2f6f8;
}

.filter {
	width: 220px;
	font-family: 'PT Sans', Arial, sans-serif;
}

.filter__title {
	font-size: 13px;
	line-height: 18px;
}

.filter__group {
	margin: 0;
	margin-bottom: 19px;
	padding: 0;
	padding-bottom: 21px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.filter__group:last-of-type {
	margin-bottom: 60px;
	border-bottom: none;
}

.filter__group-title {
	margin-bottom: 13px;
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.filter__list {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	list-style: none;
}

.filter__item {
	position: relative;
	margin-bottom: 20px;
	padding-left: 35px;
	user-select: none;
}

.filter__item:last-child {
	margin-bottom: 0;
}

.filter-item__label--checkbox::before {
	content: "";
	position: absolute;
	top: -2px;
	left: 0;
	width: 23px;
	height: 23px;
	border: 2px solid #c5c5c5;
	border-radius: 2px;
}

.filter-item__label--checkbox::after {
	content: "";
	display: none;
	position: absolute;
	top: -2px;
	left: 5px;
	width: 20px;
	height: 12px;
	z-index: 1;
	border: 4px solid #c5c5c5;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	box-shadow: 
		0 2px 0px  #fff,
		inset 0 -2px 0px  #fff;
}

.filter-item__label--radio::before {
	content: "";
	position: absolute;
	top: -3px;
	left: 0;
	width: 25px;
	height: 25px;
	border: 4px solid #c5c5c5;
	border-radius: 50%;
}

.filter-item__label--radio::after {
	content: "";
	display: none;
	position: absolute;
	top: 5px;
	left: 8px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #c5c5c5;
}

.filter-item__flag:hover + .filter-item__label::before,
.filter-item__flag:hover + .filter-item__label--checkbox::after,
.filter-item__flag:focus + .filter-item__label::before,
.filter-item__flag:focus + .filter-item__label--checkbox::after,
.filter-item__flag:active + .filter-item__label::before,
.filter-item__flag:active + .filter-item__label--checkbox::after {
	border-color: #b5b5b5;
}

.filter-item__flag:hover + .filter-item__label--radio::after,
.filter-item__flag:focus + .filter-item__label--radio::after,
.filter-item__flag:active + .filter-item__label--radio::after {
	background-color: #b5b5b5;
}

.filter-item__flag:checked + .filter-item__label::after {
	display: block;
}

.filter-item__flag:disabled + .filter-item__label {
	opacity: 0.4;
}

.filter-item__flag:disabled + .filter-item__label::before,
.filter-item__flag:disabled + .filter-item__label::after {
	opacity: 0.3;
}

.catalog {
	width: 700px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	display: flex;
	flex-direction: column;
	width: 220px;
	position: relative;
	margin-right: 20px;
	margin-bottom: 19px;
	padding-bottom: 21px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.catalog-item:hover .catalog-item__buymenu,
.catalog-item:focus .catalog-item__buymenu {
	display: flex;
}

.catalog-item__title {
	margin: 0;
	margin-bottom: 12px;
	padding: 0 30px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #000;
}

.catalog-item__title a {
	font: inherit;
	color: inherit;
}

.catalog-item__image {
	position: relative;
	margin-bottom: 9px;
	width: 218px;	
	height: 170px;
	order: -1;
}

.catalog-item__buymenu {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 170px;
	margin: 0;
	padding: 0;
	background-color: rgba(255,255,255,0.9);
	list-style: none;
}

.buymenu__item {
	margin-bottom: 8px;
}

.buymenu__item:last-child {
	margin-bottom: 0;
}

.buymenu__link {
	display: block;
	width: 135px;
	min-height: 38px;
	padding: 10px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 2px;
}

.buymenu__link--buy {
	position: relative;
	padding-left: 47px;
	text-align: left;
	color: #fff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
}

.buymenu__link--buy::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 14px;
	width: 15px;
	height: 15px;
	background-image: url(../img/icon-cart.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.buymenu__link--buy:hover,
.buymenu__link--buy:focus {
	background-color: #5fbb2d;
}

.buymenu__link--buy:hover::before,
.buymenu__link--buy:focus::before,
.buymenu__link--buy:active::before {
	opacity: 1;
}

.buymenu__link--buy:active {
	background-color: #518534;
	box-shadow: none;
}

.buymenu__link--inbookmarks {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
	
}

.buymenu__link--inbookmarks:hover,
.buymenu__link--inbookmarks:focus {
	border-color: #32425c;
}

.buymenu__link--inbookmarks:active {
	color: rgba(50,66,92,0.3);
	border-color: rgba(50,66,92,0.3);
}

.catalog-item__price {
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.catalog-item__price .old-price {
	display: block;
	min-height: 18px;
	margin-bottom: 9px;
	text-decoration: line-through;
	color: #999999;
}

.catalog-item__price .price {
	width: 135px;
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 10px;
	z-index: 1;
	color: #fff;
	background-color: #ee3643;	
}

.catalog-item__price .price::after {
	content: "";
	position: absolute;
	top: 0;
	right: -25px;
	width: 38px;
	height: 38px;
	border: 19px solid #fff;
	border-left-color: #ee3643;
}

.site-footer {
	background-color: #32425c;
	font-size: 18px;
	line-height: 24px;
}

.site-footer__top-part {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 34px;
}

.site-logo--big {
	padding: 20px 42px;
}

.site-logo--big img {
	width: 138px;
	height: 23px;
}

.footer-nav-list {
	display: flex;
	justify-content: flex-end;
	width: 560px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav__item {
	margin-right: 59px;
}

.footer-nav__item:nth-child(5n) {
	margin-right: 0;
}

.footer-nav__link {
	color: #fff;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
	text-decoration: underline;
}

.footer-nav__link:active {
	color: rgba(255,255,255,0.5);
}

.site-footer__middle-part {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.site-footer__contacts {
	width: 340px;
	margin: 0;
	padding-left: 3px;
	color: #fff;
}

.goods-list {
	display: flex;
	justify-content: flex-end;
	width: 560px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.goods-list__item {
	margin-right: 59px;
}

.goods-list__item:nth-child(4n) {
	margin-right: 0;
}

.goods-list__link {
	color: #ffd180;
}

.goods-list__link:hover,
.goods-list__link:focus {
	text-decoration: underline;
}

.goods-list__link:active {
	color: rgba(255,209,128,0.5);
}

.site-footer__lower-part {
	padding-top: 35px;
	padding-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background-color: #293449;
}

.copyright {
	width: 240px;
	margin: 0;
	margin-right: 150px;
}

.social {
	display: flex;
	flex-wrap: wrap;
	width: 150px;
	margin: 0;
	margin-right: 100px;
	padding: 0;
	list-style: none;
}

.social__item {
	margin-right: 5px;
}

.social__item:nth-child(3n) {
	margin-right: 0;
}

.social__link {
	display: block;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	color: #fff;
	background-color: #212a3a;
}

.social__link--vk {
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social__link--fb {
	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social__link--insta {
	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
	background-color: #ee3643;
}

.email {
	width: 150px;
	margin: 0;
}

.developer {
	width: 110px;
	margin: 0;
	margin-left: auto;
}

.email a,
.developer a {
	color: #ffd180;
}

.email a:hover,
.email a:focus,
.developer a:hover,
.developer a:focus {
	text-decoration: underline;
}

.email a:active,
.developer a:active {
	color: #ee3643;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 10;
	background-color: #fff;
	transform: translate(-50%, -50%);
	box-shadow: 
		inset 0 7px 0 #ee3643,
		0 20px 40px #293449;
}

.modal-close-btn {
	position: absolute;
	top: 15px;
	right: 9px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: none;
}

.modal-close-btn::before,
.modal-close-btn::after {
	content: "";
	position: absolute;
	top: 8px;
	left: -3px;
	width: 27px;
	height: 5px;
	background-color: #ee3643; 
}

.modal-close-btn::before {
	transform: rotate(45deg);
}

.modal-close-btn::after {
	transform: rotate(-45deg);
}

.modal-close-btn:hover::before,
.modal-close-btn:hover::after,
.modal-close-btn:focus::before,
.modal-close-btn:focus::after {
	background-color: #ca2c37;
}

.modal-close-btn:active::before,
.modal-close-btn:active::after {
	background-color: #ba2732;
}

.modal-message {
	width: 620px;
}

.message-form {
	padding-top: 52px;
}

.message-form-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 80px 37px;
}

.massage-form__element {
	width: 220px;
	margin: 0 ;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 18px;
}

.massage-form__element:last-child {
	margin-bottom: 0;
}

.massage-form__element--wide {
	width: 100%;
}

.massage-form__field {
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 8px 13px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #d7dcde;
	border-radius: 2px;
}

textarea.massage-form__field {
	height: 114px;
}

.massage-form__field:hover {
	border-color: #b5b5b5;
}

.massage-form__field:focus {
	border-color: #ee3643;
	outline: none;
}

.modal-map {
	width: 940px;
	height: 446px;
	z-index: 9;
	box-shadow: 0 0 16px #2f2a2b;
}

.modal-map .modal-close-btn {
	top: 8px;
}

.notice {
 	width: 620px;
}

.notice__text {
	display: block;
	position: relative;
	margin: 0;
	padding: 70px;
	padding-left: 181px;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
}

.notice__text::before {
	content: "";
	position: absolute;
	top: 54px;
	left: 81px;
	width: 66px;
	height: 66px;
	background-image: url(../img/icon-notice-success.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
