/*font-family: 'PT Sans Narrow', sans-serif;*/
/*font-family: 'PT Sans', sans-serif;*/

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
	font: 14px/24px 'Cuprum', Arial, sans-serif;
	color: #000;
	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active)/*,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden*/ {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #ee3643;
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: #ca2c37;
}

.btn:active {
	background-color: #ba2732;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-header__top-menu .container,
.site-footer__lower-part .container {
	display: flex;
}



.index-columns {
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.site-header {
	padding-bottom: 60px;
	background-color: #f3f7f8;
}

.site-header__top-menu a {
	color: #fff;
}

.site-header__top-menu {
	margin-bottom: 46px;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
}

.site-logo {
	width: 220px;
	background-color: #ee3643;
	box-shadow: 0 5px #b52933;
}

.site-logo:hover,
.site-logo:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px #9a212a;
}

.site-logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px #8e1e26;
}

.search {
	width: 270px;
	font: inherit;
	background-color: transparent;
	border: none;
}
.search::placeholder {
	font: inherit;
	color: #fff;
}

.bookmarks,
.shopping-cart {
	width: 150px;
}

.search:hover,
.bookmarks:hover,
.shopping-cart:hover {
	background-color: #212a3a;
}

.search:focus {
	color: #000;
	background-color: #fff;
}

.bookmarks:focus,
.shopping-cart:focus {
	background-color: #212a3a;
}

.place-order {
	width: 150px;
	background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
	background-color: #5fbb2d;
}

.place-order:active {
	background-color: #518534;
}

.site-header__middle-part {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.site-header__title {
	width: 300px;
	margin: 0;
	font-size: 16px;
	line-height: 23px;
	font-weight: normal;
	font-style: italic;
	color: #ee3643;
}

.site-header__contacts {
	width: 300px;
	margin: 0;
	color: #32425c;
}

.phone {
	display: block;
	width: 270px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #fff;
}

.user-nav {
	display: flex;
	justify-content: flex-end;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-nav__item {
	margin-right: 10px;
}

.user-nav__item:nth-child(2n) {
	margin-right: 0;
}

.user-nav__link{
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}

.user-nav__link:hover,
.user-nav__link:focus {
	color: #ee3643;
}

.user-nav__link:active {
	color: rgba(0,0,0,0.3);
}

.profile {
	display: flex;
	margin: 0;
	margin-bottom: 10px;
}

.profile__link {
	display: block;
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background-color: #fff;
}

.profile__link:active {
	color: rgba(0,0,0,0.3);
}

.profile__link--user {
	width: 260px;
}

.profile__link--logout {
	width: 40px;
}

.user-menu {
	display: flex;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-menu__item {
	margin: 0 17px;
}

.user-menu__link {
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
	color: #32425c;
}

.user-menu__link:hover,
.user-menu__link:focus {
	color: #ee3643;
}

.user-menu__link:active {
	color: rgba(0,0,0,0.3);
}

.nav-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-list__item {
	flex-grow: 1;
}

.nav-list__link {
	font-size: 17px;
	line-height: 17px;
	color: #fff;
	background-color: #32425c;
}

.nav-list__link:hover,
.nav-list__link:focus {
	background-color: #293449;
}

.nav-list__link:active {
	color: rgba(255,255,255,0.5);
	background-color: #293449
}

.section-aboutus {
	width: 540px;
}

.section-contacts {
	width: 300px;
}

.section__title {
	font-size: 30px;
	line-height: 30px;
}

 .section__text {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.transport-companies {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*----------------------------------Каталог---------------------------------*/

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs__item {
	margin-right: 40px;
}

.breadcrumbs__link {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
	text-decoration: underline;
}

.page-title {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 30px;
	color: #32425c ;
	background-color: #f2f6f8;
}

.filter {
	width: 220px;
}

.filter__title {
	font-size: 13px;
	line-height: 18px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 17px;
	line-height: 30px;
}

.filter-list-brands {
	list-style: none;
	border-bottom: 1px solid #e5e5e5; 
}

.filter-list-power-source {
	list-style: none;
}

.filter__item {
	font-size: 15px;
	line-height: 20px;
}

/*
.filter__item input:hover,
.filter__item input:focus,
.filter__item input:disabled*/

.catalog {
	width: 700px;
}

.catalog-btn {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;;
	text-align: center;
	color: #000;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
}

.catalog-btn:hover,
.catalog-btn:focus {
	border-color: #bdc6ca;
}

.catalog-btn:active {
	border-color: #ee3643;
	outline: none;

}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
	margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
	box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.catalog-item:hover .catalog-item__buymenu,
.catalog-item:focus .catalog-item__buymenu {
	display: block;
}

.catalog-item__buymenu {
	list-style: none;
	display: none;
}

.catalog-item__title a {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: #000;
}

.catalog-item__buymenu .buy {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
	border-radius: 2px;
}

.catalog-item__buymenu .buy:hover,
.catalog-item__buymenu .buy:focus {
	background-color: #5fbb2d;
}

.catalog-item__buymenu .buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item__buymenu .inbookmarks {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #32425c;
	background-color: #fff;
	border: 3px solid #63a63e;
	border-radius: 2px;
}

.catalog-item__buymenu .inbookmarks:hover,
.catalog-item__buymenu .inbookmarks:focus {
	border-color: #32425c;
}

.catalog-item__buymenu .inbookmarks:active {
	color: rgba(50,66,92,0.3);
	border-color: rgba(50,66,92,0.3);
}

.catalog-item__price {
	font-family: 'PTSans', Arial, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.catalog-item__price .old-price {
	text-decoration: line-through;
	color: #999999;
}

.catalog-item__price .price {
	color: #fff;
	background-color: #ee3643;
}

.site-footer {
	background-color: #32425c;
	font-size: 18px;
	line-height: 24px;
}

.site-footer__top-part,
.site-footer__middle-part {
	display: flex;
	justify-content: space-between;
}

.footer-nav-list {
	display: flex;
	justify-content: flex-end;
	width: 560px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav__item {
	margin-right: 60px;
}

.footer-nav__item:nth-child(5n) {
	margin-right: 0;
}

.footer-nav__link {
	color: #fff;
}

.footer-nav__link:hover,
.footer-nav__link:focus {
	text-decoration: underline;
}

.footer-nav__link:active {
	color: rgba(255,255,255,0.5);
}

.site-footer__contacts {
	width: 340px;
	color: #fff;
}

.goods-list {
	display: flex;
	justify-content: flex-end;
	width: 560px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.goods-list__item {
	margin-right: 60px;
}

.goods-list__item:nth-child(4n) {
	margin-right: 0;
}

.goods-list__link {
	color: #ffd180;
}

.goods-list__link:hover,
.goods-list__link:focus {
	text-decoration: underline;
}

.goods-list__link:active {
	color: rgba(255,209,128,0.5);
}

.site-footer__lower-part {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	background-color: #293449;
}

.copyright {
	width: 240px;
	margin-right: 150px;
}

.social {
	width: 150px;
	margin: 0;
	margin-right: 100px;
	padding: 0;
	list-style: none;
}

.social__link {
	color: #fff;
	background-color: #212a3a;
}

.social__link:hover,
.social__link:focus,
.social__link:active {
	background-color: #ee3643;
}

.email {
	width: 150px;
}

.developer {
	width: 110px;
	margin-left: auto;
}

.email a,
.developer a {
	color: #ffd180;
}

.email a:hover,
.email a:focus,
.developer a:hover,
.developer a:focus {
	text-decoration: underline;
}

.email a:active,
.developer a:active {
	color: #ee3643;
}

.modal {
	display: none;
}